<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="FD_BetaEntities" connectionString="metadata=res://*/FD_Beta.csdl|res://*/FD_Beta.ssdl|res://*/FD_Beta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FD_Beta;persist security info=True;user id=sa;password=ai123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FDEntities" connectionString="metadata=res://*/FDEntities.csdl|res://*/FDEntities.ssdl|res://*/FDEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FD;persist security info=True;user id=sa;password=ai123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JCSJEntities" connectionString="metadata=res://*/JCSJEntities.csdl|res://*/JCSJEntities.ssdl|res://*/JCSJEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=JCSJ;persist security info=True;user id=sa;password=ai123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>