body 
{
    margin:0;
}

input,select,textarea 
{
    -webkit-border-radius: 0;
}
input[type="submit"],input[type="button"],input[type="date"] 
{
    -webkit-appearance : none;  
}

.ui-corner-all {
   -webkit-border-radius:.0 !important;
   border-radius: 0 !important;
}
.ui-widget-header {
    border: 1px solid #2C6980;
    background: #2C6980;
    color: #ffffff;
    font-weight: bold;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}

/******************************************************************************************/
#div_head {
}
#div_tophead {
    background-color:#2f2f2f;
    height:40px;
    width:80%;
    margin:0 auto;
}
#div_tophead .div_logo{
    display:inline-block;
    width:200px;
    height:40px;
    font-size: 2em;
    font-weight: bolder;
    color: white;
}
#div_tophead .div_info{
    float:right;
    display:inline-block;
    color:white;
    padding-top:10px;
    padding-right:10px;
}
#div_tophead .div_info .div_logout a{
    color:#00FFBA;
}
#div_tophead .div_info div{
    display:inline-block;
}

/******************************************************************************************/

#div_title 
{
    background-color: #2C6980;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    position: fixed;
    left:0px;
    top:0px;
    z-index:1;
    height:30px;

    border-bottom: solid 1px;
    border-bottom-color: #6D6D6D;
}
#div_title div {
    background-image: url("imgs/icons_white.png");
    background-position: 0 -224px;
    transform: scale(2);
    -webkit-transform:scale(2);
    width:15px;
    height:15px;
    position: absolute;
    top: 5px;
    right:5px;
}

/******************************************************************************************/
#div_mn_pc {
    width:80%;
    height:23px;
    margin:0 auto;
    float:none !important;
    background-color:#2C6980;
}
#div_mn_pc ul{
    float:none;
}
#div_mn_pc ul li{
    width:150px;
    text-align:center;
}
#div_mn_pc ul li:hover{
    background-color:#2f2f2f;
}
#div_mn_pc ul li a{
    color:white;
    font-weight:bolder;
    font-size:1.25em;
}
#div_mn_pc ul li ul{
    background-color:#2C6980;
}
.mobileMenuHide
{
    display:none;
}
.mainMenuExpand div
{   
    z-index:2;
}

#div_mobileMenu a
{
    display: block;
    border-bottom: solid 1px;
    border-bottom-color: #6D6D6D;
    background-color: #5A5A5A;
    color: white;
    vertical-align: top;
    height: 25px;
    padding-top:5px;
    font-weight: bolder;
    font-size: 1.25em;
    text-decoration: none;
    text-align:center;
}

/******************************************************************************************/
.div_body 
{
    width:80%;
    margin:0 auto;
}

th {
    white-space:nowrap;
}
td {
    white-space:nowrap;
}

.div_sch,.div_edit
{
    padding-top:3px;
    padding-bottom:2px;
    margin:0 auto;
    width:100%;
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}
    .div_sch .shorter {
        width:50px;
    }
    .div_sch .short {
        width:80px;
    }
    .div_sch .middle {
        width:120px;
    }
    .div_sch .long {
        width:150px;
    }

.div_edit
{
    display:none;
}
.div_edit label
    {
        font-size:0.8em;
        width:25%;
        display:inline-block;
    }
    .div_edit select {
        font-size:0.8em;
        width: 75%;
        display: inline-block;
    }
    .div_edit input[type="text"] {
        font-size:0.8em;
        width: 75%;
        display: inline-block;
        box-sizing: border-box;
    }
    .div_edit input[type="date"] {
        font-size:0.8em;
        width: 75%;
        display: inline-block;
        box-sizing: border-box;
    }
    .div_edit .twoButtonInline
    {
        padding-top:15px;
        display:inline-block;
        box-sizing: border-box;
        float:right;
    }    
    .div_edit input[type="submit"]
    {
        font-size: 0.8em;
    }
    
/******************************************************************************************/
.div_sch_mobile,.div_edit_mobile
{
    bottom: 30px;
    position: fixed;
    background-color: #2C6980;
    width: 100%;
}
    .div_sch_mobile label,.div_edit_mobile label
    {
        width:25%;
        display:inline-block;
        font-size:0.8em;
    }
    .div_sch_mobile select,.div_edit_mobile select 
    {
        width:75%;    
        border:none;    
    }
    .div_sch_mobile input[type="text"],.div_edit_mobile input[type="text"]
    {
        width:75%;        
        border:none;    
        box-sizing: border-box;
    }
    .div_sch_mobile input[type="date"]
    {
        width:37.5%;   
        height:20px;
        border:none;    
        box-sizing: border-box;
    }
    .div_edit_mobile input[type="date"]    
    {
        width:75%;   
        height:20px;
        border:none;    
        box-sizing: border-box;
    }
    .div_sch_mobile .singleDate,.div_edit_mobile .singleDate
    {
        width:75% !important;   
    }
    .div_sch_mobile input[type="submit"],.div_edit_mobile input[type="submit"]
    {
        width: 100%;
        background-color: #2C6980;
        border: none;
        height: 34px;
        color: white;
        border-bottom: solid 1px #6D6D6D;
        font-weight: bolder;
        font-size: 1.5em;
        text-shadow: 4px 2px 2px black;
    }

    .div_sch_mobile div,.div_edit_mobile div
    {
        background-color: #2C6980;
        color: white;
        font-weight: bolder;
    }

    .div_sch_mobile .twoButtonInline,.div_edit_mobile .twoButtonInline
    {
        width:50%;
        display:inline-block;
        box-sizing: border-box;
    }
    .div_sch_mobile .left,.div_edit_mobile .left
    {
        border-right:solid 1px #6D6D6D;
    }

.grid
{

}
.grid_mobile
{

}
.grid caption,.grid_mobile caption
{
    text-align:left;
    color:white;
    font-weight:bolder;
    background-color:#2C6980;
}
.grid .gridHeader,.grid_mobile .gridHeader
{
    background-color:#2C6980;
    color:white;
}
.grid .gridRow,.gridMobile .gridRow
{
    font-size:0.9em;
}


/******************************************************************************************/
#div_foot 
{
    height:30px;
}

#div_bottom_toolbar 
{
    height:30px;
    background-color: #2C6980;
    position:fixed;
    bottom:0px;
}

#div_showsearch 
{
    width:15px;
    height:15px;
    left:10px;
    top:7px;
    position:absolute;
    background-image: url("imgs/icons_white.png");
    background-position: -160px -112px;
    transform: scale(2);
    -webkit-transform:scale(2);
}

#div_back 
{
    width:15px;
    height:15px;
    right:10px;
    top:7px;
    position:absolute;     
    background-image: url("imgs/icons_white.png");
    background-position: 0 -64px;
    transform: scale(2);
    -webkit-transform:scale(2);
}

#div_pager {
    width:120px;
    height:30px;
    margin:auto;
    color:white;
    font-weight:bolder;
    padding-top:7px;
}
    #div_pager .prev {    
        display: inline-block;
        background-image: url("imgs/icons_white.png");
        background-position: -80px -160px;
        transform: scale(2);
        -webkit-transform: scale(2);
        width: 15px;
        height: 15px;
    }

    #div_pager .pagenum {
        display: inline-block;
        width: 60px;
        height: 30px;
        text-align:center;        
        left:15px;
        position:relative;
    }

    #div_pager .next {
        display: inline-block;
        background-image: url("imgs/icons_white.png");
        background-position: -64px -160px;
        transform: scale(2);
        -webkit-transform: scale(2);   
        width: 15px;
        height: 15px;  
        float:right;
    }