body 
{
    margin:0;
}
.mainMenu
{
    font-size:25px;
    width:100%;
    overflow:scroll;
}
.mainMenu ul 
{
    display:flex;
    display:-webkit-flex;
}
.mainMenuExpand
{
    font-size:25px;
}
.div_sch 
{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}

.div_edit 
{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
}

input[type="text"].short
{
    width:50px;
}
input[type="text"],[type="date"].middle
{
    width:100px;
}
input[type="text"].long
{
    width:150px;
}
input[type="text"].large
{
    width:300px;
}