<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IValidService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:17841/DataService.svc/DataService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataService"
        contract="Data.IDataService" name="WSHttpBinding_IDataService">
        <identity>
          <userPrincipalName value="CAI-DELL-17R\CAI" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:17841/ValidService.svc/ValidService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IValidService"
        contract="Valid.IValidService" name="BasicHttpBinding_IValidService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DB.JCSJ.JCSJ.csdl|res://*/DB.JCSJ.JCSJ.ssdl|res://*/DB.JCSJ.JCSJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CAI-DELL-17R;initial catalog=JCSJ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>