<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tool.Properties.Settings.JCSJConnectionString" connectionString="Data Source=CAI-DELL-17R;Initial Catalog=JCSJ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>