<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Get_Data_Limit" value="500" />
    <add key="LogFile" value="D:\Log\jcsjwcf.txt"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly">
      <error statusCode="500" redirect="InternalError.htm" />
    </customErrors>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="JCSJWCF.ValidService" behaviorConfiguration="vb">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:17841/JCSJWCF" />
          </baseAddresses>
        </host>
        <endpoint address="ValidService" binding="basicHttpBinding" bindingConfiguration="vb" contract="JCSJWCF.IValidService">
        </endpoint>
      </service>
      <service name="JCSJWCF.DataService" behaviorConfiguration="db">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:17841/JCSJWCF" />
            <add baseAddress="net.tcp://localhost:17841/JCSJWCF" />
          </baseAddresses>
        </host>
        <endpoint address="wsDataService" binding="wsHttpBinding" bindingConfiguration="wsdb" contract="JCSJWCF.IDataService">
        </endpoint>
        <endpoint address="ntDataService" binding="netTcpBinding" bindingConfiguration="ntdb" contract="JCSJWCF.IDataService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="vb">          
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsdb" maxReceivedMessageSize="2147483647">
          <security mode="None">            
          </security>
          <reliableSession enabled="true" inactivityTimeout="00:30:00" />
        </binding>
      </wsHttpBinding>      
      <netTcpBinding>
        <binding name="ntdb" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:06:00">
          <reliableSession enabled="true" inactivityTimeout="00:30:00" />
          <security mode="None">            
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="vb">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="db">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="wsHttpBinding" scheme="http" />
      <add binding="netTcpBinding" scheme="tcp" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="1000000" maxSizeOfMessageToLog="50000000" />
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />

    <handlers>
      <add name="DynamicPassHandler" verb="*" path="DynamicPass.enc" type="JCSJWCF.DynamicPassHandler, JCSJWCF" />
    </handlers>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="G:\logs\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="JCSJContext" connectionString="Data Source=localhost;Initial Catalog=JCSJ;user id=sa;password=ai123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>